<template>
  <div class="general">
    <Slider texto = 'Blog'></Slider>
    <div class="center">
      <section id="content">
        <h2 class="subheader">Blog</h2>
      </section>
      <SideBar></SideBar>
      <div class="clearfix"></div>
    </div>
  </div>
</template>

<script>
import Slider from "./Slider.vue";
import SideBar from "./SideBar.vue";
export default {
  name: "BLog",
  components: {
    Slider,
    SideBar,
  },
};
</script>

<style>
.centrar-text {
  text-align: center;
}
</style>
