<template>
  <section id="content">
    <h1 class="subheader">Página no encontrada</h1>
    <h2>La página que buscas no existe, intentalo más tarde</h2>
    <hr />
    <h1>Error component</h1>
    <h2>{{ subtitulo }}</h2>
    <hr />
  </section>
</template>

<script>
export default {
  name: "MiComponente",
};
</script>

<style></style>
