<template>
  <footer id="footer">
    <div class="center">
      <p class="centrar-text">&copy; Máster en frameworks para JavaScript de victorroblesweb.es</p>
    </div>
  </footer>
</template>

<script>
export default {
  name: "FooterComponent",
};
</script>

<style>
.centrar-text{
    text-align: center;
}
</style>
