<template>
  <div class="general">
    <div class="center">
      <section id="content">
        <h2 class="subheader">Formulario</h2>
      </section>
      <SideBar></SideBar>
      <div class="clearfix"></div>
    </div>
  </div>
</template>

<script>
import SideBar from "./SideBar.vue";
export default {
  name: "Formulario",
  components: {
    SideBar,
  },
};
</script>

<style>
.centrar-text {
  text-align: center;
}
</style>
