<template>
  <section id="content">
    <h2 class="subheader">{{ titulo }}</h2>
    <hr />
    <h1>Este es mi componente</h1>
    <h2>{{ subtitulo }}</h2>
    <hr />
    <h2>Reactividad</h2>
    <input type="text" v-model="nombre" />
    Mi nombre es: <strong>{{ nombre }}</strong>
    <!-- v -model es una directiva. y estas sirven para dar funcionalidad a
     elementos del html, v-model hace un binding bidireccional -->
    <!-- <pre>
       {{$data}}
     </pre> esto se puso para poder apreciar la reactividad del v-model -->

    <h2>Directivas condicionales</h2>
    <input type="number" v-model="edad" />
    Mi edad es: <strong>{{ edad }}</strong>
    <p style="color: red; font-weight: bold" v-if="edad>=18 && edad<65">Eres mayor de edad</p>
    <!-- <p style="color: red; font-weight: bold" v-if="edad<18">Eres menor de edad</p> -->
    <p style="color: green; font-weight: bold" v-else-if="edad >= 65">Eres una persona de más de 65 años</p>
    <p style="color: purple; font-weight: bold" v-else>Eres menor de edad</p>


<h2>Directiva iterativa</h2>
<ol>
  <li v-for="pelicula in peliculas" :key="pelicula">
    {{pelicula}}

  </li>
</ol>

  </section>
</template>

<script>
export default {
  name: "MiComponente",
  data() {
    return {
      titulo: "Mi Componente",
      subtitulo: "Soy el subtitulo de mi componente",
      nombre: "",
      edad: 18,
      peliculas: ['Batman', 'naranja mecánica', 'spiderman']
    };
  },
};
</script>

<style></style>
