<template>
  <div class="general">
    <Slider texto="pagina de pruebas"></Slider>
    <div class="center">
      <section id="content">
        <h2 class="subheader">Página de pruebas</h2>
        <h3>{{ id_desde_url }}</h3>
        <button @click="actualizarNombre()">Actualizar nombre</button>
        <button @click="redirigirAlBlog()">Redirigir</button>

        <h4>{{ nombre }}</h4>
      </section>
      <SideBar></SideBar>
      <div class="clearfix"></div>
    </div>
  </div>
</template>

<script>
import Slider from "./Slider.vue";
import SideBar from "./SideBar.vue";

export default {
  name: "Pagina",
  components: {
    Slider,
    SideBar,
  },
  created() {
    // cuando el componente se crea pero no ha terminado de cargar todo
    console.log("Componente creado");
  },
  mounted() {
    //método que se ejecuta por defecto cuando el componente ha sido montado
    this.id_desde_url = this.$route.params.id;
    console.log("Componente montado");
  },
  updated() {
    // se ejecuta cada vez que el componente se actualiza
    console.log("Componente actualizado");
  },
  destroyed() {
    // se ejecuta cuando el componente se elimina, es decir cuando cambias de una ruta a otra
    console.log("componente eliminado");
  },
  data() {
    return {
      id_desde_url: null,
      nombre: "Fernando Valle",
    };
  },
  methods: {
    actualizarNombre() {
      this.nombre = "Fernando Valle se rifa";
      console.log(this.nombre);
    },
    redirigirAlBlog() {
      this.$router.push("/blog");
      // this.$router.push({name:'pagina',params:{id:'Redireccion'}});
    },
  },
};
</script>

<style>
.centrar-text {
  text-align: center;
}
</style>
