<template>
  <div class="general">
    <div class="center">
      <section id="content">
        <h1 class="subheader">Peliculas</h1>
        <div class="mis-datos" v-if="misDatos">
          <!-- {{misDatos}} -->
          <p v-html="misDatos"></p>
          <br>
          {{web | mayusculas | concatenaYear('ESTE ES EL MEJOR AÑO')}}
        </div>
        
        <div class="favorita" v-if="favorita">
          La pelicula marcada es:
          <h3>{{ favorita.title }}</h3>
        </div>
        <!--Listado peliculas-->
        <div id="articles">
          <!-- <div v-for="pelicula in peliculas" v-bind:key="pelicula.title"> -->
          <div
            v-for="pelicula in peliculasMayuscula"
            v-bind:key="pelicula.title"
          >
            <Pelicula
              :pelicula="pelicula"
              @favorita="favoritaRecibida"
            ></Pelicula>
            <!-- los dos puntos los pones para hacer un v-bind -->
          </div>
        </div>
      </section>
      <SideBar></SideBar>
      <div class="clearfix"></div>
    </div>
  </div>
</template>

<script>
import SideBar from "./SideBar.vue";
import Pelicula from "./Pelicula.vue";
export default {
  name: "Peliculas",
  components: {
    Pelicula,
    SideBar,
  },
  data() {
    return {
      nombre: "Fernando",
      apellidos: "Valle",
      web: "fer@.com.mx",
      favorita: null,
      peliculas: [
        {
          title: "batman vs superman",
          year: 2017,
          image:
            "https://as01.epimg.net/meristation/imagenes/2021/04/21/noticias/1619002311_003032_1619002618_noticia_normal.jpg",
        },
        {
          title: "naranja mecánica",
          year: 1971,
          image:
            "https://images.ecestaticos.com/pLO7gbs55FcD1x6smffqRnkjmnM=/24x0:767x1004/1440x1920/filters:fill(white):format(jpg)/f.elconfidencial.com%2Foriginal%2F162%2F275%2F162%2F162275162220ac1229eb6e4685a0fcf4.jpg",
        },
        {
          title: "eyes wide shut",
          year: 1999,
          image:
            "https://larealidadnoexiste.com/wp-content/uploads/2018/09/eyes-wide-shut-10-820x461.jpg",
        },
      ],
    };
  },
  // Dentro de methods defines todos los eventos que se Pueden 
  // activar con un click por ejemplo
  methods: {
    favoritaRecibida(favorita) {
      this.favorita = favorita;
      // console.log(favorita);
      // alert("se ha ejecutado el evento en el padre");
    },
  },
// los filters te sirven para  dar formato a los valores
// que pintas en pantalla, juegan un rol similar a lo que
// son los pipes en angular
  filters:{
    mayusculas(valor){
return valor.toUpperCase();
    },
      concatenaYear(valor, mensage){
        let date = new Date();
        // return`${valor} ${date}`;
        return valor + ' ' + date.getFullYear() + ' ' + mensage;
    }

  },
  // una propiedad computada te permite manipular
  // y hacer logica con nuestras propiedades, y en base a
  // esta lógica generar una propiedad completamente nueva
  computed: {
    peliculasMayuscula() {
      let peliculasMod = this.peliculas;
      for (let i = 0; i < this.peliculas.length; i++) {
        peliculasMod[i].title = peliculasMod[i].title.toUpperCase();
      }
      return peliculasMod;
    },
    misDatos() {
      return `${this.nombre} ${this.apellidos} <br/>
               <strong>Sitio web:</strong> ${this.web}`;
    }
  }
};
</script>

<style></style>
